doctype html
html( lang="en_US" )
    head
        meta( charset="UTF-8" )/
        title HTML Hint App

        link( rel="stylesheet", href="css/styles.css" )/

    body
        h1 HTML Hint App

        h2 Hello, World

        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.

        script( src="js/vendors/jquery.js" )
        script( src="js/main.js" )
