doctype html
html( lang="en_US" )
    head
        meta( charset="UTF-8" )/
        title HTML Hint App

        link( rel="stylesheet", href="css/styles.css" )/

    body
        div.left
            header
                figure
                    img( src="assets/img/logo.png", alt="Mikwoskòp - HTMLHint" )/
                h1 Mikwoskòp - HTMLHint
                h2
                    | HTMLLint v
                    span 0.0

            div#files
                input( type="file", name="files", accept="text/html", multiple="multiple" )/
                a( href="#" ) Select html files

            div#params
                h3 Parameters
                form( method="get", action="#" )
                    fieldset
                        legend Standard
                        div.form-elt
                            label
                                input( type="checkbox", name="tagname-lowercase", value="1", checked )/
                                span Tagname lowercase
                                p Tagname must be lowercase.
                        div.form-elt
                            label
                                input( type="checkbox", name="attr-lowercase", value="1", checked )/
                                span Attr lowercase
                                p Attribute name must be lowercase.
                        div.form-elt
                            label
                                input( type="checkbox", name="attr-value-double-quotes", value="1", checked )/
                                span Attr value double quotes
                                p Attribute value must closed by double quotes.
                        div.form-elt
                            label
                                input( type="checkbox", name="attr-value-not-empty", value="1" )/
                                span Attr value not empty
                                p Attribute must set value.
                        div.form-elt
                            label
                                input( type="checkbox", name="doctype-first", value="1" )/
                                span Doctype first
                                p Doctype must be first.
                        div.form-elt
                            label
                                input( type="checkbox", name="tag-pair", value="1", checked )/
                                span Tag pair
                                p Tag must be paired.
                        div.form-elt
                            label
                                input( type="checkbox", name="tag-self-close", value="1" )/
                                span Tag self close
                                p The empty tag must closed by self.
                        div.form-elt
                            label
                                input( type="checkbox", name="spec-char-escape", value="1" )/
                                span Spec char escape
                                p Special characters must be escaped.
                        div.form-elt
                            label
                                input( type="checkbox", name="id-unique", value="1" )/
                                span ID unique
                                p Id must be unique.
                        div.form-elt
                            label
                                input( type="checkbox", name="src-not-empty", value="1" )/
                                span Src not empty
                                p
                                    | Src of img(script,link) must set value.
                                    br/
                                    | Empty src will visit current page twice.
                    fieldset
                        legend Performance
                        div.form-elt
                            label
                                input( type="checkbox", name="head-script-disabled", value="1" )/
                                span Head script disabled
                                p The script tag can not be used in head.
                    fieldset
                        legend Accessibility
                        div.form-elt
                            label
                                input( type="checkbox", name="img-alt-require", value="1", checked )/
                                span Img alt require
                                p Alt of img tag must be set value.
                    fieldset
                        legend Specification
                        div.form-elt
                            label
                                input( type="checkbox", name="doctype-html5", value="1" )/
                                span Doctype html5
                                p Doctype must be html5.
                        div.form-elt.multiple
                            strong ID class value
                            label
                                input( type="radio", name="id-class-value", value="0", checked )/
                                span none
                                p Id and class value doesn't need to follow some rules.
                            label
                                input( type="radio", name="id-class-value", value="underline" )/
                                span underline
                                p Id and class value must meet some rules: underline_separated.
                            label
                                input( type="radio", name="id-class-value", value="dash" )/
                                span dash
                                p Id and class value must meet some rules: dash-separated.
                            label
                                input( type="radio", name="id-class-value", value="hump" )/
                                span camelCase
                                p Id and class value must meet some rules: camelCaseSeparated.
                        div.form-elt
                            label
                                input( type="checkbox", name="style-disabled", value="1" )/
                                span Style disabled
                                p Style tag can not be use.

        div.right
            h3
                | Results
                = " "
                span (3 errors in 3 files)
            a#reload( href="#" ) (reload with same files)
            ol#results

        script#tpl-file( type="text/template" )
            li
                strong
                span
                ol

        script#tpl-report( type="text/template" )
            li
                span
                code
                p
                    a( href="#" )
                    span

        script( src="js/vendors/jquery.js" )
        script( src="js/main.js" )
