doctype html
html( lang="en_US" )
    head
        meta( charset="UTF-8" )/
        title HTML Hint App

        link( rel="stylesheet", href="css/styles.css" )/

    body
        header
            figure
                img( src="assets/img/logo.png", alt="Mikwoskòp - HTMLHint" )/
            h1 Mikwoskòp - HTMLHint
            h2
                | HTMLLint v
                span 0.0

        script( src="js/vendors/jquery.js" )
        script( src="js/main.js" )
